@keyframes rotation-b-baf56qh8c8 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

svg[b-baf56qh8c8] {
  display: block;
  flex-shrink: 0;
  animation: rotation-b-baf56qh8c8 0.8s linear infinite;
}
