/* Page-level styles for Starting */
.app-main-content[b-9r4riu0m3w], 
.view-container[b-9r4riu0m3w] {
    display: block;
    overflow: visible;
    height: auto !important; 
    min-height: 0 !important;
    position: relative;
}

body[b-9r4riu0m3w] {
    overflow-x: hidden;
    height: auto;
}
